$--color-primary: #42b983;

// $--color-primary: #409EFF !default;

$--app-tab-height: 40px;

$--app-dark-theme-bg-color: #001529;
$--app-dark-theme-text-color: #c7c7c7;
$--app-dark-theme-menu-active-color: #000c17;
$--app-dark-theme-menu-hover-color: #000c17;
